<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h1>Add a New User</h1>
    <form action="/" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="credentials">Credentials:</label><br>
        <input type="text" id="credentials" name="credentials" required><br><br>

        <label for="marriage">spouse:</label><br>
        <input type="text" id="spouse" name="spouse" required><br><br>

        <label for="genetic">Genetic:</label><br>
        <input type="text" id="genetic" name="genetic" required><br><br>

        <label for="race">Race:</label><br>
        <input type="text" id="race" name="race" required><br><br>
        
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="">Select...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select><br><br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/users">View All Users</a>
</body>
</html>
